@import url('https://fonts.googleapis.com/css2?family=Truculenta:wght@400;800&display=swap');
body {
    color: white;
    font-weight: bold;
    font-size: 20ch;
}

.slide {
    width: 100vw;
    height: 100vh;
}

.wrapper {
    display: flex;
    flex-direction: row;
    width: 500vw;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
    background: url('/images/space/longspace.png');
}

.one {
    background: rgba(0, 0, 0, 0);
}

.one p {
    color: green;
    font-family: Truculenta;
}

.two {
    background: rgba(0, 0, 0, 0);
}

.three {
    background: rgba(0, 0, 0, 0);
}

.four {
    background: rgba(0, 0, 0, 0);
}

.five {
    background: rgba(0, 0, 0, 0);
}

.outer-wrapper {
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    display: none;
}

.title {
    position: relative;
    width: 55vw;
    height: 40vh;
}

.randomButton {
    border: 3px solid white;
    border-radius: 50%;
    text-align: center;
    padding: 100px;
    color: blue;
}

a {
    text-decoration: none;
}

.randomButton:hover {
    border: 10px solid green;
    background-color: red;
    color: yellow;
}

.title h3 {
    font-size: 10rem;
    margin-top: 17vh;
    margin-left: -39vw;
}

.bottom {
    position: absolute;
    bottom: 0;
    height: 15vh;
    width: 100vw;
    text-align: right;
    color: white;
}

.bottom img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}