@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800&display=swap');

.content-wrapper {
    font-family: 'Poppins', sans-serif;
}

.about-wrapper {
    background-color: var(--dark-color);
    padding-bottom: 5vh;
    z-index: 1;
    position: relative;
    transform-style: preserve-3d;
    color: white;
}
.about-wrapper .toAbout {
    position: absolute;
    top: -8rem;
    left: calc(50% - .5ch);
    animation: bounce 2s infinite ease-in-out;
}

@keyframes bounce {
    0% {transform: translateY(0);}
    50% {transform: translateY(.5rem);}
    100% {transform: translateY(0);}
}

.about-wrapper::after {
    content: '';
    position: absolute;
    inset: 0;
    transform: skewY(-3deg);
    background-color: var(--dark-color);
    z-index: -1;
    top: -7vh;
    border-top:2px solid var(--light-color);
}

.main {
    padding-left: 1em;
    padding-top: 8vh;
    display: flex;
    flex-direction: column;

}

.bio-title {
    text-align: center;

}

.header {
    background-color: var(--main-color);

}

.about-card {
    font-size: 1.4rem;
    opacity: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 5vh 10vw;
    transform: scale(.1) !important;
}
.about-card h1 {
    margin-bottom: 1rem;
}

.info-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    margin: 5vh 20vw;
    max-width: 100vw;
    grid-auto-flow: dense;
}
.info-card h1 {  
    font-size: 3rem;
}
.info-card p {
    font-size: 1.2rem;
    margin-top: .5rem;
}
.info-card img {
    justify-self: center;
    width:100%;
    height: auto;
}

.text-only {
    grid-row: 1 / span 1;
    grid-column: 1 / span 2;
}
.info-card-image {
    display: grid;
    grid-template-columns: 1fr;
}
.info-card-image img {
    justify-self: center;
    border-radius: 3vw;
    border: 3px solid rgb(33, 33, 33);
    box-shadow: 0 0 5vw .1rem rgba(133, 214, 252, 0.3);
    max-width: 50%;
}
.info-card-image p {
    padding: .5rem 1rem 0 1rem;
    font-size: 1.1rem;
    justify-self: center;
    font-style: italic;
    max-width: 50%;
}

.backwards {
    grid-column: 2 / span 1;

}

@media only screen and (max-width: 1000px) {
    .info-card {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 1vh;
        margin-bottom: 5rem;
    }
    .info-card > * {
        margin: 0;
        padding: 0;
        
    }
    .info-card .text-wrapper {
        opacity: 100%;
    }
    .info-card p {
        text-indent: 0;
    }
    .info-card .text-wrapper > p {
        font-size: 1.2rem;
    }

    .info-card .text-wrapper > h1 {
        font-size: 1.8rem;
    }

    .info-card img {
        margin: 0;
        padding: 0;
        opacity: 100%;
    }
}

@media only screen and (min-width: 1000px) {

    .about-card {
        margin: 5vh 30vw;       
        font-size: 1.4rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        margin: 5vh 10vw;
    }
    .about-card h1 {
        margin-bottom: 1rem;
    }
    .about-card span {
        font-family:fantasy;
    }
    
    .info-card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 5vh 20vw;
        max-width: 100vw;
        grid-auto-flow: dense;
    }
    
    .info-card h1 {  
        font-size: 2.5rem;
    }
    .info-card p {
        font-size: 1.2rem;
        margin-top: .5rem;
    }
    .info-card img {
        width: 90%;
        max-width: 25vw;
        justify-self: center;
        margin-left: 10vw;
    }
    
    .backwards {
        grid-column: 2 / span 1;
    }
    .backwards p,
    .backwards h1 {
        margin-left: 2rem;
    }
    .infocardbackwards img {
        margin-right: 12rem;
    }
    
}



.opacity0 {
    opacity: 0 !important;
    transition: opacity 1.5s;
    transition: transform .4s, opacity 1.2s ease;
    transform: translateY(25%)
}


.show {
    opacity: 1 !important;
    transform: translateX(0)  scale(1) !important;
}
