@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800&display=swap');
body {
    background: rgb(131,58,180);
    background: linear-gradient(145deg, rgba(7,16,35,1) 0%, rgb(25, 9, 36) 25%, rgba(7,16,35,1) 50%,rgb(43, 8, 83) 75%, rgba(7,16,35,1) 100%);
}
.content-wrapper {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}

.main {
    padding-left: 1em;
    padding-top: 8vh;
    color: black;
    display: flex;
    flex-direction: column;
}

.bio-title {
    text-align: center;
}

.header {
    background-color: #551A8B;
}

.about-card {
    font-size: 1.4rem;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 5vh 10vw;
}
.about-card h1 {
    margin-bottom: 1rem;
}
.about-card span {
    font-weight: bold;
}

.info-card {
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin: 5vh 20vw;
    max-width: 100vw;
    grid-auto-flow: dense;
}

.info-card h1 {  
    font-size: 3rem;
    margin-left: 2rem;
}
.info-card p {
    font-size: 1.2rem;
    margin-top: .5rem;
}
.info-card img {
    height: 50vh;
    justify-self: center;
    width: auto;
}

.backwards {
    grid-column: 2 / span 1;
}


@media only screen and (min-width: 750px) {
    .about-card {
        margin: 5vh 30vw;       
    }
}