@import url('https://fonts.googleapis.com/css2?family=Truculenta:wght@400;800&display=swap');
body {
    box-sizing: border-box;
    font-family: Truculenta;
    font-size: 110%;
    font-weight: bold;
    margin: 0;
    background: url('/images/space/space3.png');
    background-size: cover;
    height: 100vh;
    background-position: left;
}

.hero-bg {
    color: rgb(255, 255, 255);
    margin-left: 2rem;
}

.header {
    display: flex;
    padding-left: 5%;
}

.label1 {
    padding-right: .25vw;
}

.btn-panel {
    display: flex;
    padding: 5px;
}

button {
    border-radius: 3ch;
    margin: 0 25px;
    border: rgb(0, 0, 0);
    width: 5vw;
    height: 3vh;
    background-color: blanchedalmond;
}

button:hover {
    background-color: rgb(255, 215, 154);
}

p {
    color: white;
    margin-top: 10vh;
}

fieldset {
    color: white;
    width: 25%;
    align-content: center;
    margin-bottom: 20px;
}

fieldset input {
    padding: 7px;
}

fieldset button {
    height: 50%;
}