@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800&display=swap');



body {
    background: linear-gradient(330deg, rgba(7,16,35,1) 0%, rgb(25, 9, 36) 25%, rgba(7,16,35,1) 50%,rgb(43, 8, 83) 75%, rgba(7,16,35,1) 100%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.nav-wrapper {
    position: absolute;
    inset: 0;
}

/* Content Wrapper w/ White border  */

.wrapper2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.content-wrapper {
    position: relative;
    height: fit-content;
    display: flex;
    flex-direction: column; 
    color: var(--light-color);
    border-radius: 10vw .4rem;
    max-width: 1000px;
    padding: 5vh 2rem;
    margin: 5vh min(8vw, 100px);
}



.content-wrapper::after {
    content: '';
    border: 2px solid var(--main-color);
    inset: 0;
    background-color: var(--dark-color);
    position: absolute;
    z-index: -1;
    box-shadow: 0 0 1rem .5rem rgba(0, 0, 0, 0.6);
    transform: skewY(-2deg);
    border-radius: 5rem .5rem 5rem .5rem;
}

.content-wrapper h1 {
    text-align: center;
    margin: 3rem 2rem 3rem 2rem;
    font-family: 'Poppins', sans-serif;
}

/* Contact Info*/ 
.contact-wrapper {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin: 0rem 5rem;
}

.contact-info {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}


/* Contact Buttons */
.contact-button-wrapper {
    display: flex;
    flex-direction: column;
    align-items:flex-end;
}

.action-button {
    font-size: .8rem;
    margin: 1rem 1rem;
    color: rgb(161, 94, 255);
    width: 10em;
    height: max-content;
    border-radius: .4em 1.5em;
    border: 2px solid rgb(161, 94, 255);
    border-color:rgb(161, 94, 255);
    box-shadow:  none;
    padding: .5rem 0rem;
    background-color: rgba(0, 0, 0, 0.5);
    transition: .1s;
    grid-template-rows: 1fr;
    grid-template-columns: 10em;
    text-align: center;
    font-weight: normal;
    transition: .2s;
    user-select: none;
}

.action-button span {
    color: rgb(161, 94, 255);
    font-weight: bold;
    transition: .1s;
}
.action-button .button-option {
    display: none;
    color: #f4edfb;
    font-weight: bold;
    transition: .1s;
}

.action-button:hover .button-option {
    display: block;
    cursor: pointer;
}

.action-button:hover span {
    display: none;
}

.action-button:hover {
    cursor: pointer;
    color: #f4edfb;
    font-weight: bold;
    height: max-content;
    border-radius: 1.5em .4em;
    border-color:#f4edfb;
}

.action-button:active {
    cursor: pointer;
    border: 2px solid #f4edfb;
    color: #f4edfb;
    background-color: rgba(174, 229, 255, 0);
}

.action-icon {
    height: max-content;
    width: 3rem;
    border-radius: .4em 1.2em;
  
}
.action-icon i{
    transform: scale(2,2);
}
.action-icon:hover {
    border-radius: 1.2em .4em;
}

/* Contact Form */

.contact-form {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-top: 1rem;
    width: 100%;
}
.contact-form>button {
    max-width: 5rem;
}
.contact-form>button:hover {
    cursor: pointer;
}
.contact-form label,
.contact-form h2 {
    align-self: flex-start;
    margin-top: .2rem
}
.contact-form input {
    min-height: 1.5rem;
    max-width: 18rem;
}
#description-input {
    resize:vertical;
    min-height: 5rem;
}

@media only screen and (max-width: 415px) {
    .wrapper2>* {
        font-size: 6px;
    }
    .content-wrapper {
        padding: 5vh 0;
    }
    .contact-form {
        padding: 1rem;
    }
}

@media only screen and (max-width: 1000px) {

    .contact-wrapper {
        text-align: center;
        margin: 0;
    }

    .contact-button-wrapper {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        margin: 0 1.5rem;
    }
    .action-button {
        margin: 0;
    }
    .action-button-large {
        grid-column: 1 / 4;
        justify-self: center;
    }
    .action-icon {
        grid-row: 2 / span 1;
        justify-self: center;
    }

    .contact-wrapper {
        flex-direction: column;
    }
  
  
    .action-button {
        margin: .5rem 0;
    }
    .action-icon {
        margin: .5rem .5rem;
    }
    
}


