
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800&display=swap');
:root {
    color-scheme: light dark;

    --main-color-light: #f4edfb;
    --main-color: rgb(161, 94, 255);
    --main-color-dark: rgb(18, 18, 18);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

body {
    font-family: 'Quicksand', sans-serif;
    backface-visibility: hidden;
}

/* navigation */
.nav-wrapper {
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
    user-select: none;
    transition: height 1s;
    background:rgb(161, 94, 255);
    display: none;
}

.menu-button {
    z-index: 1;
    position: fixed;
    display: flex;
    margin-top: 1rem;
    right: 1rem;
    font-size: 190%;
    border: 2px solid rgb(161, 94, 255);
    border-radius: 50%;
    color:rgb(66, 66, 66);
    height: 3.1rem;
    width: 3.1rem;
    justify-content: space-around;
    align-items: center;
    transition: .2s;
}

.menu-button:active {
    color: var(--main-color-light);
    cursor:pointer;
    border: 2px solid #f4edfb;
}

.menu-button:hover {
    cursor: pointer;
    box-shadow: 0 0 .5em .1em #f4edfb9f;
    transform: scale(1.1,1.1);
}

.header-buttons {
    grid-row: 1/1;
    grid-column: 2/2;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.header-buttons a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 2em;
    font-weight: 700;
    margin: 1em;
    color: #551A8B;
    transition: .2s;
}
.header-buttons a:hover {
    transform: scale(1.2, 1.2);
    color: var(--main-color-light);;
}

.header-buttons a:active {
    color: var(--main-color-light);
}

/* Main Page */

.background-image-main {
    z-index: -1;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-image: linear-gradient(330deg, rgba(7,16,35,1) 0%, rgb(25, 9, 36) 25%, rgba(7,16,35,1) 50%,rgb(43, 8, 83) 75%, rgba(7,16,35,1) 100%);
}

/* Scroll Parallax */

.wrapper {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
}

/* Content */



.content-wrapper {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column-reverse;
    color: var(--main-color-light);
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    background: rgba(0, 0, 0, 0);
}

.content-wrapper-main {
    transform-style: preserve-3d;
    z-index: -1;
}

.content-wrapper-main::before {
    position: absolute;
    inset: 0;
    content: '';
    background: linear-gradient(330deg, rgba(7,16,35,.8) 0%, rgba(25, 9, 36,.8) 25%, rgba(7,16,35,.8) 50%,rgba(43, 8, 83,.8) 75%, rgba(7,16,35,.8) 100%);
    z-index: -2;
    transform-style: preserve-3d;
    transform: translateZ(-50px) scale(6.5)
}

.content-wrapper .mobile-picture {
    user-select: none;
    max-width: 50vw;
    max-height: 75vh;
    width: auto;
    height: auto;
    min-width: 200px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 20%;

    transform-style: preserve-3d;
    transform: translateZ(-15px)  scale(2.5)
}

.content-wrapper h1 {
    font-size: 2.5rem;
    margin-top: 1rem;
    line-height: 1em;
}



.btn {
    color: rgb(161, 94, 255);
    font-weight: bold;
    width: 10em;
    height: 3em;
    border-radius: .4em 1.5em;
    border: 2px solid rgb(161, 94, 255);
    margin: 1rem;
    background-color: rgba(107, 189, 228, 0.05);
    font-size: 1rem;
    transition: .2s;
}

.btn:hover {
    cursor: pointer;
    border: 2px solid var(--main-color-light);
    color: var(--main-color-light);
    font-weight: bold;
    border-radius: 1.5em .4em;
    background-color: rgba(0, 0, 0, 0.5);
}
.btn:active {
    cursor: pointer;
    border: 2px solid var(--main-color-light);
    color: var(--main-color-light);
    background-color: rgba(174, 229, 255, 0);
}

a {
    text-decoration: none;
}

footer {
    padding: 5ch 0;
    text-align: center;
    min-height: 2vh;
    background-color: rgb(31, 31, 31);
    color: var(--main-color-light);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1ch;
    z-index: 5;
    position: relative;
    box-shadow: 0px -10px 10px 5px rgb(31, 31, 31);;
}

footer > span > a {
    color: var(--main-color-light);
}


footer span:hover {
    text-decoration: underline;
    cursor: pointer;
}

.nothing {
    opacity: 0;
    transform: scaleY(0);
    height: 1px;
    width: 0px;
}
.intext-a {
    font-weight: bold;
    color: rgb(161, 94, 255);
}
.intext-a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.close-icon {
    display: none;
}



@media only screen and (min-width: 1435px) {
    .content-wrapper h1 {
        font-size: 4rem;
        margin-bottom: 0;
    }
    .content-wrapper p {
        font-size:1.5rem;
    }
}

@media only screen and (min-width: 750px) {


    .content-wrapper .mobile-picture {
        border-radius: 5rem;
        transform: translateZ(-15px) translateX(25vw) scale(2)
    }
    .content-wrapper {
        flex-direction: row;
        justify-content: space-evenly;
    }
    .menu-button {
        display: none;
    }

    /* .content .mobile-picture {
        animation: imageBounce 5s ease-in-out infinite;
    }    */
  }
  
@media only screen and (max-width: 1435px) and (min-width: 750) {
    .content-wrapper h1 {
        font-size: 2rem;
    }
    .content-wrapper p {
        font-size:1.5rem;
    }
}

/* @keyframes imageBounce {
    0%,100% {
        transform: translateY(1rem);
    }
    50% {
        transform: translateY(0rem);
    }
} */

.color-light {
    color: rgb(161, 94, 255);
}
.color-white {
    color: var(--main-color-light);
    border: 2px solid var(--main-color-light);
}

/* disappearing elements*/
.hideElement {
    display: none !important;
}