
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Quicksand', sans-serif;
    z-index: 0;
}

/* navigation */
.nav-wrapper {
    z-index: 1;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
    user-select: none;
    transition: height 1s;
    background:rgb(161, 94, 255);
}

.menu-button {
    z-index: 1;
    position: fixed;
    display: flex;
    margin-top: 1rem;
    right: 1rem;
    font-size: 190%;
    border: 2px solid rgb(161, 94, 255);
    border-radius: 50%;
    color:rgb(66, 66, 66);
    height: 3.1rem;
    width: 3.1rem;
    justify-content: space-around;
    align-items: center;
    transition: .2s;
}

.menu-button:hover {
    color: #f4edfb;
    cursor:pointer;
    border: 2px solid #f4edfb;
}

.header-buttons {
    grid-row: 1/1;
    grid-column: 2/2;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.header-buttons a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 2em;
    font-weight: 700;
    margin: 1em;
    color: #551A8B;
    transition: .2s;
}
.header-buttons a:hover {
    transform: scale(1.2, 1.2);
    color: white;
}

.header-buttons a:active {
    color: #d2c7dd;
}

/* Main Page */

.content-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column; 
}

.home-content-wrapper {
    background-image: url('/img/beach.jpg');    
    background-position:top;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Content */

.content {
    background-color: rgba(0, 0, 0, .4);
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: white;
    text-align: center;
    align-items: center;
    padding: 5vh 2em;
}

.content .mobile-picture {
    max-width: 50vw;
    max-height: 75vh;
    width: auto;
    height: auto;
    min-width: 200px;
    margin-top: 5vh;
    display: inline-block;
    vertical-align: middle;
    border-radius: 20%;
    border: 3px solid rgb(39, 39, 39);
    box-shadow: 0 0 10em 1em rgba(174, 229, 255, 0.5);
}


.content h1 {
    font-size: 2.5rem;
    margin-top: 1rem;
}

.content button {
    color: rgb(161, 94, 255);
    width: 10em;
    height: 3em;
    border-radius: .4em 1.5em;
    border: 2px solid rgb(161, 94, 255);
    box-shadow:  none;
    margin: 1rem;
    background-color: rgba(174, 229, 255, 0.1);
    font-size: 1rem;
    transition: .1s;
}
.content button:hover {
    cursor: pointer;
    border: 3px solid #f4edfb;
    color: #f4edfb;
    font-weight: bold;
}
.content button:active {
    cursor: pointer;
    border: 2px solid #f4edfb;
    color: #f4edfb;
    background-color: rgba(174, 229, 255, 0);
}

a {
    text-decoration: none;
}

footer {
    margin-top: 15vh;
    text-align: center;
    min-height: 2vh;
    background-color: rgb(31, 31, 31);
    color: rgb(200, 200, 200);
    box-shadow:0 -1em 5em 5em rgb(31, 31, 31);
    display: flex;
    justify-content: center;
    align-items: center;
}

.desktop-header {
    display: none;
}
.desktop-header .hamburger {
    display: none;
}

.desktop-header a {
    display: block;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    transition: .1s;
}
.desktop-header a:hover {
    transform: scale(1.1,1.1);
    text-shadow: 0px 0px 1em #ffb1cf;;
}

@media only screen and (min-width: 1000px) {
    .content .mobile-picture {
        border-radius: 50%;
    }
    .content {
        flex-direction: row-reverse;
        justify-content: space-evenly;
    }
    

    .content h1 {
        font-size: 4rem;
    }
    .content p {
    font-size:1.5rem;
    }

    .menu-button {
        display: none;
    }
    .desktop-header {
        display: flex;
    }
    .desktop-header {
        margin-top: .5rem;
        right: 2rem;
        display: flex;
        position: fixed;
        height: 3.1rem;
        width: 50vw;
        background-color: rgba(0, 41, 59, 0.6);
        align-items: center;
        border: 2px solid rgb(161, 94, 255);
        justify-content:space-around;
        border-radius: .4em 1.5em;
        transition: width .2s, margin .2s;
    }
    .closed-header {
        margin-top: .5rem;
        right: 2rem;
        height: 3.1rem;
        width: 3.1rem;
        border-radius: 50%;
        color:rgb(161, 94, 255);
        font-size: 190%;
    }
    .closed-header .hamburger {
        display: block;
    }
    .closed-header:hover {
        cursor: pointer;
        box-shadow: 0 0 5px 5px rgba(233, 248, 255, 0.6);
    }
    .closed-header a {
        display: none;
    }
  }

  .color-light {
    color: rgb(161, 94, 255);
}
.border-dark {
    border: 2px solid #551A8B;
}

/* disappearing elements*/
.hideElement {
    display: none;
}