@import url("https://fonts.googleapis.com/css2?family=Truculenta:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Truculenta:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.hero-bg {
  font-family: 'Montserrat', sans-serif;
  background: url("/images/space/space3.png") no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.main {
  display: -ms-grid;
  display: grid;
}

.hero-bg .title-text {
  position: absolute;
  left: 2%;
  top: 40%;
  color: white;
  width: 75%;
}

.hero-bg .title-text .slogan-desc {
  text-align: left;
  margin-left: 5vw;
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-bottom: 1vh;
  width: 75%;
  line-height: 100%;
}

.hero-bg .title-text .slogan-desc span {
  margin-left: -2vw;
}

.hero-bg .title-text .div-line {
  background-color: white;
  margin-left: 4vw;
  margin-bottom: 1.5vh;
  width: 75%;
  height: 2px;
  font-size: large;
  font-weight: bold;
}

.hero-bg .title-text .slogan {
  text-transform: uppercase;
  margin-left: 2.4vw;
  font-size: 300%;
  font-weight: bold;
  line-height: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 90%;
}

.hero-bg .bottom {
  position: absolute;
  bottom: 0;
  height: 15vh;
  width: 100vw;
  text-align: right;
  color: white;
}

.hero-bg .bottom img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.hero-bg .bottom p {
  position: absolute;
  bottom: 0;
  left: 0;
}

@media (min-aspect-ratio: 1 / 1) {
  .hero-bg .title-text .div-line {
    width: 65%;
  }
  .hero-bg .title-text .slogan {
    line-height: 95%;
  }
}

@media (max-width: 365px) {
  .hero-bg .header .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .hero-bg .header .menu a {
    padding-left: 3vw;
    padding-right: 3vw;
  }
}

@media (min-width: 600px) {
  .hero-bg .header .menu {
    margin-left: 0%;
    margin-right: 0%;
  }
  .hero-bg .title-text .div-line {
    width: 69%;
  }
  .hero-bg .title-text .slogan-desc {
    font-size: 300%;
  }
  .hero-bg .title-text .slogan {
    font-size: 500%;
  }
}

@media (min-width: 724px) {
  .hero-bg .title-text {
    width: 69%;
  }
  .hero-bg .title-text .slogan-desc {
    font-size: 200%;
    margin-left: 7%;
    line-height: normal;
  }
  .hero-bg .title-text .div-line {
    width: 69%;
  }
  .hero-bg .title-text .slogan {
    margin-left: 7%;
    font-size: 450%;
  }
}

@media (min-width: 1400px) {
  .hero-bg .title-text .div-line {
    width: 660px;
  }
}
/*# sourceMappingURL=main.css.map */