@import url('https://fonts.googleapis.com/css2?family=Truculenta:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Truculenta:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html {
    overflow-x: hidden;
}

::-webkit-scrollbar {
    display: none;
}

a {
    display: block;
    text-decoration: none;
}

// header 
.header {
    font-family: 'Montserrat', sans-serif;
    min-height: 100px;
    height: 8.8vh;
    .home {
        background: rgba(0, 0, 0, 0.75);
        text-align: center;

        font-family: 'Truculenta';
        text-transform: capitalize;
        height: 65%;
        .name {
            color: #44DFFF;
            text-decoration: none;
            font-size: 3.3rem;
            font-weight: 600;
        }
    }
    .div-line {
        background-color: white;
        width: 100%;
        height: 3px;
    }
    .menu {
        height: 38px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        width: 100%;

        button {
            background: rgba(49, 49, 49, 0.4);
            text-decoration: none;
            color: white;
            text-align: center;
            text-transform: uppercase;
            font-size: 1.2rem;
            border: none;
            padding-top: .3em;
            letter-spacing: .1em;
            cursor: pointer;
            outline: none;
        }
        button:hover {
            background: #131c4636;
        }
    }
}

//mobile first
.hero-bg {
    font-family: 'Montserrat', sans-serif;
    background: url('/images/space/space3.png') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    width: 100vw; //why does it go off screen with 100vw?? same goes for height but its not as bad
    overflow: hidden;
    
    .menu-sticky {
        position: fixed;
        top: 0;
        width: 100%;
      }
    .title-text {
        position: absolute;
        left: 2%;
        top: 40%;
        color: white;
        width: 75%;
        .slogan-desc {
            text-align: left;
            margin-left: 5vw;
            font-size: 1.2rem;
            display: flex;
            flex-direction: column;
            padding-bottom: 1vh;
            width: 75%;
            line-height: 100%;
            span {
                margin-left: -2vw;
            }
        }
        .div-line {
            background-color: white;
            margin-left: 4vw;
            margin-bottom: 1.5vh;
            width: 75%;
            height: 2px;
            font-size: large;
            font-weight: bold;
        }
        .slogan {
            text-transform: uppercase;
            margin-left: 2.4vw;
            font-size: 300%;
            font-weight: bold;
            line-height: 85%;
            display: flex;
            flex-wrap: wrap;
            width: 90%;
        }
    }
    //bottom of hero-bg
    .bottom {
        position: absolute;
        bottom: 0;
        height: 15vh;
        width: 100vw;
        text-align: right;
        color: white;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        p {
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }
}

.testButton {
    margin-top: 2000px;
}

//when wider than 1/1, use this code
//must use standard css, no scss shortcuts
@media (min-aspect-ratio: 1/1) {
    .hero-bg .title-text .div-line {
        width: 65%;
    }
    .hero-bg .title-text .slogan {
        line-height: 95%;
    }
}


@media (max-width: 365px) {
    .hero-bg .header .menu {
        display: flex;
        flex-wrap: wrap;
    }
    .hero-bg .header .menu a {
        padding-left: 3vw;
        padding-right: 3vw;
    }
}
//anything above 600px, use this code
@media (min-width: 600px) {
    .hero-bg .header .menu {
        margin-left: 0%;
        margin-right: 0%;
    }
    .hero-bg .title-text .div-line {
        width: 69%;
    }
    .hero-bg .title-text .slogan-desc {
        font-size: 300%;
    }
    .hero-bg .title-text .slogan {
        font-size: 500%;
    }
}

@media (min-width: 724px) {
    .hero-bg .title-text {
        width: 69%;
    }
    .hero-bg .title-text .slogan-desc {
        font-size: 200%;
        margin-left: 7%;
        line-height: normal;
    }
    .hero-bg .title-text .div-line {
        width: 69%;
    }
    .hero-bg .title-text .slogan {
        margin-left: 7%;
        font-size: 450%;
    }
}

@media (min-width: 1400px) {
    .hero-bg .title-text .div-line {
        width: 660px;
    }
}