:root {
  --speed: 5s;
  --bigstar-speed: calc(var(--speed) * 175);
  --medstar-speed: calc(var(--speed) * 220);
  --smallstar-speed: calc(var(--speed) * 300);
  --animation-direction: normal;
}

.background-container {
  width: 100vw;
  height: 100vh;
  background: black;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.star {
  background: white;
  position: absolute;
  border-radius: 50%;
  background-color: white;
}

.star1 {
  -webkit-box-shadow: 0 0 25px 3px #00c3ffe1;
          box-shadow: 0 0 25px 3px #00c3ffe1;
}

.star2 {
  -webkit-box-shadow: 0 0 50px 5px #00c3ffe1;
          box-shadow: 0 0 50px 5px #00c3ffe1;
}

.star3 {
  -webkit-box-shadow: 0 0 75px 7px #00c3ffe1;
          box-shadow: 0 0 75px 7px #00c3ffe1;
}

.midpos.star1 {
  -webkit-animation: slide var(--smallstar-speed) linear forwards;
          animation: slide var(--smallstar-speed) linear forwards;
}

.midpos.star2 {
  -webkit-animation: slide var(--medstar-speed) linear forwards;
          animation: slide var(--medstar-speed) linear forwards;
}

.midpos.star3 {
  -webkit-animation: slide var(--bigstar-speed) linear forwards;
          animation: slide var(--bigstar-speed) linear forwards;
}

.leftpos1.star1 {
  -webkit-animation: slide2 calc(var(--smallstar-speed) * 2) linear infinite var(--animation-direction);
          animation: slide2 calc(var(--smallstar-speed) * 2) linear infinite var(--animation-direction);
}

.leftpos1.star2 {
  -webkit-animation: slide2 calc(var(--medstar-speed) * 2) linear infinite var(--animation-direction);
          animation: slide2 calc(var(--medstar-speed) * 2) linear infinite var(--animation-direction);
}

.leftpos1.star3 {
  -webkit-animation: slide2 calc(var(--bigstar-speed) * 2) linear infinite var(--animation-direction);
          animation: slide2 calc(var(--bigstar-speed) * 2) linear infinite var(--animation-direction);
}

.leftpos2.star1 {
  -webkit-animation: slide2 calc(var(--smallstar-speed) * 2) linear var(--smallstar-speed) infinite var(--animation-direction);
          animation: slide2 calc(var(--smallstar-speed) * 2) linear var(--smallstar-speed) infinite var(--animation-direction);
}

.leftpos2.star2 {
  -webkit-animation: slide2 calc(var(--medstar-speed) * 2) linear var(--medstar-speed) infinite var(--animation-direction);
          animation: slide2 calc(var(--medstar-speed) * 2) linear var(--medstar-speed) infinite var(--animation-direction);
}

.leftpos2.star3 {
  -webkit-animation: slide2 calc(var(--bigstar-speed) * 2) linear var(--bigstar-speed) infinite var(--animation-direction);
          animation: slide2 calc(var(--bigstar-speed) * 2) linear var(--bigstar-speed) infinite var(--animation-direction);
}

@-webkit-keyframes slide {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  99% {
    -webkit-transform: translateX(800vw);
            transform: translateX(800vw);
  }
  100% {
    -webkit-transform: translateX(801);
            transform: translateX(801);
    display: none;
    opacity: 0;
  }
}

@keyframes slide {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  99% {
    -webkit-transform: translateX(800vw);
            transform: translateX(800vw);
  }
  100% {
    -webkit-transform: translateX(801);
            transform: translateX(801);
    display: none;
    opacity: 0;
  }
}

@-webkit-keyframes slide2 {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(800vw);
            transform: translateX(800vw);
  }
}

@keyframes slide2 {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(800vw);
            transform: translateX(800vw);
  }
}
/*# sourceMappingURL=moving-stars.css.map */