@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800&display=swap');


.content-wrapper {
    background: linear-gradient(330deg, rgba(7,16,35,1) 0%, rgb(25, 9, 36) 25%, rgba(7,16,35,1) 50%,rgb(43, 8, 83) 75%, rgba(7,16,35,1) 100%);


}

.card-wrapper {
    padding-top: 8vh;
    overflow-x: hidden;
    color: white;
    display: flex;
    flex-direction: column;
}
.close-icon {
    color:var(--main-color);
}
.card-link {
    text-decoration: underline;
    color: white;
}
a:hover {
    color: var(--main-color);
}
/* CARDS */
.card {
    position: relative;
    margin: 5vh 10vw;
    display: flex;
    flex-direction: column;
    background: linear-gradient(330deg, rgba(7,16,35,.8) 0%, rgba(25, 9, 36,.8) 25%, rgba(7,16,35,.8) 50%,rgba(43, 8, 83,.8) 75%, rgba(7,16,35,.8) 100%);
    border-radius: 20vw .4rem;
    box-shadow: 0 0 1rem .5rem rgba(0, 0, 0, 0.8);
    border: 2px solid white;
    padding-top: 2rem;
    padding-bottom: 2rem;
    transition: .15s;
}   
.card:hover {
    box-shadow: 0 0 2rem 1rem rgba(0, 0, 0, 0.8);
    transform: scale(1.01,1.01);
    cursor: pointer;
}

/* Card Components */
.card-component {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: .5rem 5vw;
}

/* Title */
.card-title > * {
    grid-column: 1 / span 2;
    align-self: center;
    justify-self: center;
    text-align: center;
}
/* Header */
.card-header > * {
    grid-column: 1 / span 2;
    align-self: center;
    justify-self: center;
    text-align: center;
}
/* Image */
.card-image-only > * {
    grid-column: 1 / span 2;
    justify-self: center;
    align-self:  center;
    border-radius: 3vw;
    border: 3px solid rgb(33, 33, 33);
}
/* Text */
.card-text-only > * {
    grid-column: 1 / span 2;
    justify-self: center;
    align-self: center;
    margin: 0 1rem;
}
/* Image and Text */
.card-text-img > * {
    grid-column: 1 / span 2;
    justify-self: center;
    align-self: center;
}
.card-text-img .card-text-img-text-wrapper {
    margin-right: 4rem;
}
.card-text-img img {
    border: 2px solid rgb(33, 33, 33);
    border-radius: 1vw;
    margin-top: 1rem;
}

/* General Card Stuff */
.card h1 {
    font-size: 2rem;
}
.card h2 {
    font-size: 1.8rem;
}
.card h3 {
    font-size: 1.5rem;
}
.card p {
    font-size: 1.1rem;
}

.card img {
    width: 100%;
    min-width: 200px;
    box-shadow: 0 0 5vw .1rem rgba(133, 214, 252, 0.3);
}

/* Card Close Icon*/
.card-close-icon {
    z-index: 5;
    display: flex;
    justify-content: center;
    position: absolute;
    color: rgb(238, 212, 255);
    font-size: 1.3rem;
    right: -10vw;
    top: 0;
}

.card-close-icon:hover {
    transform: scale(1.1,1.1);
    text-shadow: 0px 0px 1em #ffb1cf;
    cursor: pointer;
}

/* Media Query */

@media only screen and (min-width: 1300px) {
    .card-text-img > *{
        grid-column: auto;
    }
}

@media only screen and (min-width: 1000px) {
    .card {
        margin: 5vh 20vw;
        border-radius: 10vw .4rem;
    }  
    .card h1 {
        font-size: 3rem;
    }
    .card h2 {
        font-size: 2.5rem;
    }
    .card h3 {
        font-size: 2.2rem;
    }
    .card p {
        font-size: 1.2rem;
    }
    .card-component {
        margin: 2rem 5vw;
    }

} 

.noHover:hover {
    transform: none;
    cursor: default;
    box-shadow: 0 0 1rem .5rem rgba(0, 0, 0, 0.8);
}