
h2 {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(131, 213, 215);
}



.content-wrapper {
    align-items: flex-start;
}

.content-wrapper > * {
    text-align: left;
    margin-top: 3vh;
    margin-left: 10%;
    margin-right: 10%;
}

.resume-link {
    color: white;
    font-weight: bold;
    text-decoration: underline;
}
.resume-link:hover {
    color:blueviolet;
}

.action-button {
    text-align: center;
}

.project-item {
    margin-top: 1ch;
}

.unclickable {
    font-weight: bold;
}

