@import url('https://fonts.googleapis.com/css2?family=Truculenta:wght@400;800&display=swap');
*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: Truculenta;
    font-size: 110%;
    font-weight: bold;
    color: white;
}

body {
    background: url('../images/SW1.jpg');
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgb(75, 75, 75);
}

.container {
    width: 69%;
    max-width: 80%;
    height: 50%;
    background-color: rgba(21, 40, 216, 0.705);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 5%;
    margin-top: 5vh;
}

.btn {
    background-color: hsla(0, 0%, 0%, 0.425);
    border: 2px solid hsl(0, 0%, 100%);
    border-radius: 1rem;
    padding: 10% 10%;
    color: white;
    outline: none;
    font-weight: bold;
}

.btn:hover {
    border-color: rgb(63, 219, 1);
}