* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

.background-container {
  height: 100vh;
  background: radial-gradient(ellipse at center, #242938, #000 100%);
  overflow: hidden;
}
