:root {
  --speed: .2s;
  --bigstar-speed: calc(var(--speed) * 175);
  --medstar-speed: calc(var(--speed) * 220);
  --smallstar-speed: calc(var(--speed) * 300);
}



.background-container {
  width: 100vw;
  height: 100vh;
  background: black;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.star {
  background: white;
  position: absolute;
  border-radius: 50%;
  background-color: white;
}

.star1 {
  box-shadow: 0 0 25px 10px #00c3ff20;
  //background-color: rgb(255, 253, 107)
}
.star2 {
  box-shadow: 0 0 50px 15px #00c3ff20;
  //background-color: rgb(37, 240, 255)
}
.star3 {
  box-shadow: 0 0 75px 20px #00c3ff20;
  //background-color: rgb(1, 1, 1)
}


.midpos.star1 {
  animation: slide var(--smallstar-speed) linear forwards;
}
.midpos.star2 {
  animation: slide var(--medstar-speed) linear forwards;
}
.midpos.star3 {
  animation: slide var(--bigstar-speed) linear forwards;
}

.leftpos1.star1 {
 animation: slide2 calc(var(--smallstar-speed) * 2) linear infinite;
}
.leftpos1.star2 {
 animation: slide2 calc(var(--medstar-speed) * 2) linear infinite;
}
.leftpos1.star3 {
 animation: slide2 calc(var(--bigstar-speed) * 2) linear infinite;
}
.leftpos2.star1 {
 animation: slide2 calc(var(--smallstar-speed) * 2) linear
   (var(--smallstar-speed)) infinite;
}
.leftpos2.star2 {
 animation: slide2 calc(var(--medstar-speed) * 2) linear (var(--medstar-speed))
   infinite;
}
.leftpos2.star3 {
  animation: slide2 calc(var(--bigstar-speed) * 2) linear (var(--bigstar-speed))
    infinite;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  99% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(101vw);
    display: none;
    opacity: 0;
  }
}

@keyframes slide2 {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(200vw);
  }
}
