* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.background-container {
   width: 100vw;
   height: 100vh;
   background: black;
   // background: radial-gradient(ellipse at center, #242938, #000 100%);
}

.star {
    background: white;
    position: absolute;
    border-radius: 50%;

    box-shadow: 0px 0px 1px 2px rgba(179, 246, 255, 0.75);
}

.star1 {
    animation: anim1 200s linear infinite;
  
}
.star2 {
    animation: anim1 170s linear infinite;
}
.star3 {
    animation: anim1 100s linear infinite;
}

@keyframes anim1 {
    from {
        transform: translateX(-100vw)
    }
    to {
        transform: translateX(100vw)
    }
}
