@import url('https://fonts.googleapis.com/css2?family=Truculenta:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Truculenta:wght@100;200;300;400;500;600;700;800;900&display=swap');



.hex {
    position: absolute;
    width: 200px;
    height: 220px;
    background: url('/images/catan/empty.png');
    z-index: 1;
    p {
        position: relative;
        text-align: center;
        margin-top: 90px;
        font-size: 2rem;
    }
    .diceNumberIcon {
        background: rgb(236, 194, 79);
        height: 48px;
        width: 48px;
        margin-left: 78px;
        border-radius: 50%;
        border: 2px solid black;
        font-weight: bold;
    }
}
.hex:hover {
    background: url('/images/catan/emptyHighlighted.png');
    cursor: pointer;
}
.hex:nth-of-type(1) {
    top: 25px;
    left: 600px;
    background-size: 200px 220px;
}
.hex:nth-of-type(2) {
    top: 25px;
    left: 800px;
    background-size: 200px 220px;
}
.hex:nth-of-type(3) {
    top: 25px;
    left: 1000px;
    background-size: 200px 220px;
    
}
.hex:nth-of-type(4) {
    top: 188px;
    left: 500px;
    background-size: 200px 220px;
}
.hex:nth-of-type(5) {
    top: 188px;
    left: 700px;
    background-size: 200px 220px;
}
.hex:nth-of-type(6) {
    top: 188px;
    left: 900px;
    background-size: 200px 220px;
}
.hex:nth-of-type(7) {
    top: 188px;
    left: 1100px;
    background-size: 200px 220px;
}
.hex:nth-of-type(8) {
    top: 351px;
    left: 400px;
    background-size: 200px 220px;
}
.hex:nth-of-type(9) {
    top: 351px;
    left: 600px;
    background-size: 200px 220px;
}
.hex:nth-of-type(10) {
    top: 351px;
    left: 800px;
    background-size: 200px 220px;
}
.hex:nth-of-type(11) {
    top: 351px;
    left: 1000px;
    background-size: 200px 220px;
}
.hex:nth-of-type(12) {
    top: 351px;
    left: 1200px;
    background-size: 200px 220px;
}
.hex:nth-of-type(13) {
    top: 514px;
    left: 500px;
    background-size: 200px 220px;
}
.hex:nth-of-type(14) {
    top: 514px;
    left: 700px;
    background-size: 200px 220px;
}
.hex:nth-of-type(15) {
    top: 514px;
    left: 900px;
    background-size: 200px 220px;
}
.hex:nth-of-type(16) {
    top: 514px;
    left: 1100px;
    background-size: 200px 220px;
}
.hex:nth-of-type(17) {
    top: 677px;
    left: 600px;
    background-size: 200px 220px;
}
.hex:nth-of-type(18) {
    top: 677px;
    left: 800px;
    background-size: 200px 220px;
}
.hex:nth-of-type(19) {
    top: 677px;
    left: 1000px;
    background-size: 200px 220px;
}

.settlementsLayer {
    display: none;
    z-index: 67;
    background: rgba(0, 0, 0, .2);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .nodeBtn {
        min-width: 0;
        position: absolute;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color:rgba(255, 255, 255, 0.2);
        border: 2px solid black;
        outline: none;
    }
    .nodeBtn:hover {
        background-color:rgba(255, 0, 200, 0.69);
    }
    
    
    .nodeBtn:nth-of-type(1) {
        position: absolute;
        top: 61px;
        left: 582px;
    }
    .nodeBtn:nth-of-type(2) {
        position: absolute;
        top: 10px;
        left: 679px;
    }
    .nodeBtn:nth-of-type(3) {
        position: absolute;
        top: 61px;
        left: 781px;
    }
    .nodeBtn:nth-of-type(4) {
        position: absolute;
        top: 10px;
        left: 879px;
    }
    .nodeBtn:nth-of-type(5) {
        position: absolute;
        top: 61px;
        left: 981px;
    }
    .nodeBtn:nth-of-type(6) {
        position: absolute;
        top: 10px;
        left: 1079px;
    }
    .nodeBtn:nth-of-type(7) {
        position: absolute;
        top: 61px;
        left: 1178px;
    }
    .nodeBtn:nth-of-type(8) {
        position: absolute;
        top: 225px;
        left: 482px;
    }
    .nodeBtn:nth-of-type(9) {
        position: absolute;
        top: 171px;
        left: 581px;
    }
    .nodeBtn:nth-of-type(10) {
        position: absolute;
        top: 225px;
        left: 681px;
    }
    .nodeBtn:nth-of-type(11) {
        position: absolute;
        top: 171px;
        left: 781px;
    }
    .nodeBtn:nth-of-type(12) {
        position: absolute;
        top: 225px;
        left: 880px;
    }
    .nodeBtn:nth-of-type(13) {
        position: absolute;
        top: 171px;
        left: 981px;
    }
    .nodeBtn:nth-of-type(14) {
        position: absolute;
        top: 225px;
        left: 1080px;
    }
    .nodeBtn:nth-of-type(15) {
        position: absolute;
        top: 171px;
        left: 1181px;
    }
    .nodeBtn:nth-of-type(16) {
        position: absolute;
        top: 225px;
        left: 1278px;
    }
    .nodeBtn:nth-of-type(17) {
        position: absolute;
        top: 388px;
        left: 383px;
    }
    .nodeBtn:nth-of-type(18) {
        position: absolute;
        top: 333px;
        left: 482px;
    }
    .nodeBtn:nth-of-type(19) {
        position: absolute;
        top: 388px;
        left: 582px;
    }
    .nodeBtn:nth-of-type(20) {
        position: absolute;
        top: 333px;
        left: 682px;
    }
    .nodeBtn:nth-of-type(21) {
        position: absolute;
        top: 388px;
        left: 782px;
    }
    .nodeBtn:nth-of-type(22) {
        position: absolute;
        top: 333px;
        left: 882px;
    }
    .nodeBtn:nth-of-type(23) {
        position: absolute;
        top: 388px;
        left: 982px;
    }
    .nodeBtn:nth-of-type(24) {
        position: absolute;
        top: 333px;
        left: 1082px;
    }
    .nodeBtn:nth-of-type(25) {
        position: absolute;
        top: 388px;
        left: 1182px;
    }
    .nodeBtn:nth-of-type(26) {
        position: absolute;
        top: 333px;
        left: 1278px;
    }
    .nodeBtn:nth-of-type(27) {
        position: absolute;
        top: 388px;
        left: 1379px;
    }
    .nodeBtn:nth-of-type(28) {
        position: absolute;
        top: 493px;
        left: 383px;
    }
    .nodeBtn:nth-of-type(29) {
        position: absolute;
        top: 548px;
        left: 482px;
    }
    .nodeBtn:nth-of-type(30) {
        position: absolute;
        top: 493px;
        left: 582px;
    }
    .nodeBtn:nth-of-type(31) {
        position: absolute;
        top: 548px;
        left: 681px;
    }
    .nodeBtn:nth-of-type(32) {
        position: absolute;
        top: 493px;
        left: 781px;
    }
    .nodeBtn:nth-of-type(33) {
        position: absolute;
        top: 548px;
        left: 880px;
    }
    .nodeBtn:nth-of-type(34) {
        position: absolute;
        top: 493px;
        left: 980px;
    }
    .nodeBtn:nth-of-type(35) {
        position: absolute;
        top: 548px;
        left: 1079px;
    }
    .nodeBtn:nth-of-type(36) {
        position: absolute;
        top: 493px;
        left: 1179px;
    }
    .nodeBtn:nth-of-type(37) {
        position: absolute;
        top: 548px;
        left: 1279px;
    }
    .nodeBtn:nth-of-type(38) {
        position: absolute;
        top: 493px;
        left: 1379px;
    }
    .nodeBtn:nth-of-type(39) {
        position: absolute;
        top: 656px;
        left: 482px;
    }
    .nodeBtn:nth-of-type(40) {
        position: absolute;
        top: 710px;
        left: 582px;
    }
    .nodeBtn:nth-of-type(41) {
        position: absolute;
        top: 656px;
        left: 681px;
    }
    .nodeBtn:nth-of-type(42) {
        position: absolute;
        top: 710px;
        left: 781px;
    }
    .nodeBtn:nth-of-type(43) {
        position: absolute;
        top: 656px;
        left: 880px;
    }
    .nodeBtn:nth-of-type(44) {
        position: absolute;
        top: 710px;
        left: 980px;
    }
    .nodeBtn:nth-of-type(45) {
        position: absolute;
        top: 656px;
        left: 1079px;
    }
    .nodeBtn:nth-of-type(46) {
        position: absolute;
        top: 710px;
        left: 1179px;
    }
    .nodeBtn:nth-of-type(47) {
        position: absolute;
        top: 656px;
        left: 1278px;
    }
    .nodeBtn:nth-of-type(48) {
        position: absolute;
        top: 818px;
        left: 582px;
    }
    .nodeBtn:nth-of-type(49) {
        position: absolute;
        top: 869px;
        left: 682px;
    }
    .nodeBtn:nth-of-type(50) {
        position: absolute;
        top: 818px;
        left: 781px;
    }
    .nodeBtn:nth-of-type(51) {
        position: absolute;
        top: 869px;
        left: 881px;
    }
    .nodeBtn:nth-of-type(52) {
        position: absolute;
        top: 818px;
        left: 980px;
    }
    .nodeBtn:nth-of-type(53) {
        position: absolute;
        top: 869px;
        left: 1081px;
    }
    .nodeBtn:nth-of-type(54) {
        position: absolute;
        top: 818px;
        left: 1179px;
    }
  }

/* Dropdown Button */
button {
    background-color: rgba(0, 0, 0, .2);
    border: 2px solid black;
    color: white;
    padding: 8px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
      margin-top: 30px;
    position: relative;
    display: inline-block;
    flex-grow: 1;
    min-height: 100px;
    button {
        width: 130px;
    }
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, .2);;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    
  
    /* Links inside the dropdown */
    button {
      color: white;
      padding: 8px 16px;
      text-decoration: none;
      display: block;
      border: none;
      min-width: 130px;
      
    }
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content button:hover {
    background-color: rgba(0, 0, 0, .1);
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
    
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: rgba(255, 0, 200, 0.6);
    
  }

  button:hover {
    background-color: rgba(255, 0, 200, 0.6);
  }

  


  //START HERE

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 2rem;
    font-family: Montserrat, sans-serif;
}

.backgroundWrapper {
    height: 100vh;
    background: linear-gradient(45deg, red, yellow);
    z-index: 0;
}

.infoContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 325px;
    height: 90%;
    border-radius: 10px;
    background-color: rgba(0,0,0,.4);
    padding-left: 25px;
    padding-right: 25px;
    border: 6px solid black;
    color: white;
    font-size: 2rem;
    h4 {
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    p {
        font-family: Montserrat, sans-serif;
        font-size: 1.5rem;
        margin-top: 15px;
    }
    .staticBtnContainer {
        
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        justify-content: center;
        margin-top: 40px;
       button {
        border: 2px solid black;
        min-width: 0px;
       }
       .staticbtn1 {
           margin-right: 10px;
           width: 150px;
       }
    }
    .line {
        height: 2px;
        margin-top: 40px;
        background-color: white;
    }
    .hexInfoContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}


.dicePanel {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 325px;
    height: 90%;
    background-color: rgba(0,0,0,.4);
    padding-left: 25px;
    padding-right: 25px;
    border: 6px solid black;
    border-radius: 10px;
    color: white;
    font-size: 2rem;
    .diceButtonContainer {
        display: flex;
        justify-content: center;
    }
    .redButtonContainer, .yellowButtonContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        

        button {
            margin: 0;
            padding: 0;
            width: 55px;
            height: 55px;
            min-width: 0px;
            outline: none;
        }
    }
    .redButtonContainer {
        margin-right: 22px;
    }
    
    .diceAreaContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .dice-area {
        text-align: center;
        display: inline-block;

        p {
            margin:auto;
            font-size: 3rem;
        }
        p:hover{
            color:rgba(255, 0, 0, 0.69);
            cursor: pointer;
        }
        img {
            width: 125px;
            height: 125px;
        }
    }
    .dice-sum {
        margin-top: 12px;
        margin-bottom: 10px;
        text-align: center;
    }
    .dice-output {
        overflow-y: scroll;
    }
    button {
        font-family: Montserrat, sans-serif;
        border: 2px solid black;
        outline: none;
    }
    button:active {
        background-color: rgba(0, 0, 0, 0.69);
    }

    .otherButtonsContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        
        button {
            margin: 5px 5px 5px 5px;
        }
       
    }
}
.otherButtonsContainer {
    button {
        height: 40px;
    }
}

.finishLayer {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 68;

    background: rgba(53, 53, 53, 0.25);
    backdrop-filter: blur( 3.0px );
    -webkit-backdrop-filter: blur( 3.0px );
}

.analysisWrapper {
    display:block; //change to none upon deployment
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 420;

    .navbar {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        width: 100%;
        height: 0vh;
        z-index: 420;
    
        background-color: rgb(0, 0, 0);
        color: white;

        display: grid;
        grid-template-columns: 15% 1fr 1fr 1fr 1fr 1fr 1fr;
       
        .logo {
            font-family: Truculenta, sans-serif;
            font-weight: bold;
            font-size: 1em;
        }
        .logo:hover {
            background: rgba(0,0,0,.8);
        }
        button {
            margin: 0;
            padding: 0;
            height: 7vh;
            background: rgba(0,0,0,.8);
            outline: none;
        }
        button:hover {
            background: rgba(255, 0, 200, 0.69);
            cursor: pointer;
        }
        button:active {
            background: rgba(14, 255, 14, 0.69);
        }
    }

    .content {
      display: flex;
    }
    
    .sidebar {
        background-color: rgba(0,0,0,.4);
        border: 6px solid black;
        border-radius: 10px;
        color: white;
    
        width: 15%;
        height: 93vh;
        top: 7vh;
        overflow: scroll;
        /* Hide scrollbar for IE, Edge and Firefox */
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
        
        position: -webkit-sticky;
        position: sticky;
    }
    /* Hide scrollbar for Chrome, Safari and Opera */
    .sidebar::-webkit-scrollbar {
        display: none;
    }
    
    .analysisContainer {
        width: 85%;
        height: 100vh;

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 7vh auto;
        overflow: scroll;
        /* Hide scrollbar for IE, Edge and Firefox */
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
       
    }
    .analysisContainer::-webkit-scrollbar {
        display: none;
    }
    .glassBackground {
        background: rgba( 255, 255, 255, .25 );
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
        backdrop-filter: blur( 4px );
        -webkit-backdrop-filter: blur( 4px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        margin: 5px 5px 5px 5px;
        min-height: 41vh;
    }
}

//if screen is smaller than 600px
@media only screen and (max-width: 900px) {
    .sidebar {
        display: none;
    }
    .analysisWrapper .analysisContainer {
        width: 100%;
    }
    .analysisWrapper button {
        font-size: .5em;
    }
    .analysisWrapper .logo {
        font-size: 25px;
    }
}

@media only screen and (max-width: 600px) {
.navbar {
    display: flex;
}
}