@import url('https://fonts.googleapis.com/css2?family=Truculenta:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to 
    right, rgb(255, 0, 0), yellow);
    font-family: Truculenta;
    color: white;
    //text-align: center;
}

h1 {
    margin: 20px;
    font-size: 6rem;
    color: white;
}

.wrapper {
    display: flex;
    width: 100%;
    //margin: auto;
    text-align: center;
    max-height: 60vh;
    fieldset {
        width: 50%;
        border-radius: 10px;
        border: 5px solid grey;
        font-size: 2rem;
        font-weight: bold;

        .dice-area {
    
            margin: 0px 50px;
            text-align: center;
            display: inline-block;
        }
        .dice-output {
            overflow-y: scroll;
        }
        img {
            width: 10rem;
        }
        p {
            font-size: 5rem;
            color: black;
        }
        p:hover {
            color: green;
            cursor: pointer;
        }
    }
}

.resource-wrapper {
    display: flex;
    width: 100%;
    //margin: auto;
    text-align: center;
}

fieldset {
    width: 100%;
    border-radius: 10px;
    border: 5px solid grey;
    font-size: 2rem;
    font-weight: bold;
}
